.font-center {
    color: white;
    text-align: center;
}

.font {
    color: white;
    text-align: left;
}

.bg {
    background-image: url('pexels-dmitry-demidov-3921045-modified.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }