.container {
    text-align: center;  
  }

.font-center {
    color: white;
    text-align: center;
    font-weight: bold;
}

  body {
    background-image: url('../assets/pexels-dmitry-demidov-3921045-modified.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  